body {
  $content-width: 50rem;

  background: $cy-co-bg url('../img/circuit.gif');
  color: $cy-co-fg;
  display: grid;
  font-family: $cy-font-family;
  image-rendering: crisp-edges;
  line-height: $cy-line-height-base;
  min-height: 100vh;
  padding: $cy-sp-md;

  @media (min-width: ($content-width + 4 * $cy-sp-md)) {

    grid-column-gap: $cy-sp-md;
    grid-template-columns: 1fr $content-width 1fr;

    &::before,
    &::after {
      background-color: rgba($cy-co-bg, 0.6);
      border: 7px solid $cy-co-fg;
      border-image-slice: 7;
      border-image-source: url('../img/border-1.png');
      border-image-width: 7px;
      content: '';
      display: block;
      grid-row: 1 / 4;
    }

    &::before {
      grid-column: 1 / 2;
    }

    &::after {
      grid-column: -2 / -1;
    }
  }

  > header,
  main,
  > footer {
    background-color: $cy-co-bg;
    border: 7px solid $cy-co-fg;
    border-image-slice: 7;
    border-image-source: url('../img/border-1.png');
    border-image-width: 7px;
  }
}
