@use '../01-settings/color';
@use '../01-settings/spacing';
@use '../01-settings/typography';

body {
  $content-width: 50rem;

  background: color.$bg url('../img/circuit.gif');
  color: color.$fg;
  display: grid;
  font-family: typography.$font-family;
  image-rendering: crisp-edges;
  line-height: typography.$line-height-base;
  min-height: 100vh;
  padding: spacing.$md;

  @media (min-width: ($content-width + 4 * spacing.$md)) {

    grid-column-gap: spacing.$md;
    grid-template-columns: 1fr $content-width 1fr;

    &::before,
    &::after {
      background-color: rgba(color.$bg, 0.6);
      border: 7px solid color.$fg;
      border-image-slice: 7;
      border-image-source: url('../img/border-1.png');
      border-image-width: 7px;
      content: '';
      display: block;
      grid-row: 1 / 4;
    }

    &::before {
      grid-column: 1 / 2;
    }

    &::after {
      grid-column: -2 / -1;
    }
  }

  > header,
  main,
  > footer {
    background-color: color.$bg;
    border: 7px solid color.$fg;
    border-image-slice: 7;
    border-image-source: url('../img/border-1.png');
    border-image-width: 7px;
  }
}
