@use '../01-settings/color';
@use '../01-settings/spacing';
@use '../01-settings/typography';
@use '../02-tools/containers';

body {
  $content-width: 50rem;

  background: color.$bg url('../img/circuit.gif');
  color: color.$fg;
  display: grid;
  font-family: typography.$font-family;
  image-rendering: crisp-edges;
  line-height: typography.$line-height-base;
  min-height: 100vh;
  padding: spacing.$md;

  @media (min-width: ($content-width + 2 * spacing.$md)) {

    grid-column-gap: spacing.$md;
    grid-template-columns: 1fr $content-width 1fr;

    &::before,
    &::after {
      @include containers.thin(false);

      background-color: rgba(color.$bg, 0.6);
      content: '';
      display: block;
      grid-row: 1 / 4;
    }

    &::before {
      grid-column: 1 / 2;
    }

    &::after {
      grid-column: -2 / -1;
    }
  }

  > header,
  main,
  > footer {
    @include containers.thin();

    background-color: color.$bg;
  }
}
