

$bodyBgColor: #0a3616;
$bodyFgColor: #1ee857;

$accentBgColor: #521500;
$accentFgColor: #ff6833;


$shadowColor: #051b0b;






body {
	color: $bodyFgColor;
	font-family: monospace;
	background: $bodyBgColor url('circuit.gif') repeat;
}

a:link {
	color: $accentFgColor;
}

.box {
	margin: 0.5em auto 0.5em auto;
	width: 600px;
	background-color: $bodyBgColor;
	border: 3px double $bodyFgColor;
	box-shadow: 0 4px 0 $shadowColor;
}

h1 {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
	text-align: center;
}

nav {
	display: block;
	margin: 0.5em auto 0.5em auto;
	width: 600px;

	ul {
		display: block;
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		li {
			display: block;
			width: 200px;
			float: left;
			
			a {
				display: block;
				text-align: center;
				margin: 0 0.5em 0 0.5em;
				padding: 0.5em;
				background-color: $accentBgColor;
				border: 3px double $accentFgColor;
				box-shadow: 0 4px 0 $shadowColor;
			}
			
		}
	}
}








//=========================================

/**
	CSS animation experiment
*/
@-webkit-keyframes zoom {
	from {
		background-position: 0px 0px, 0px 0px;
	}
	
	to {
		background-position: -40px 40px, 80px 40px;
	}	
}

div {
	margin: 1em auto;
	width: 300px;
	height: 100px;
	border: 1px solid #000;
	background-image: url('bg2.png'), url('bg1.png');
	background-repeat: repeat;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: linear;
}

#zoom:hover {
	-webkit-animation-name: zoom;
}

