/*

*/
$maxContentWidth: 900px;


/*
	Grid system sizes
*/
$columnCount: 24;

$gutterShare: 2;
$columnShare: 3;

$gutterWidth: 100% / $columnCount / ($gutterShare + $columnShare) * $gutterShare;
$columnWidth: 100% / $columnCount / ($gutterShare + $columnShare) * $columnShare;

$halfGutter: $gutterWidth / 2;


@mixin innerWidth( $cols ){
	width: $cols * ($columnWidth + $gutterWidth) - $gutterWidth;
}


@mixin outerWidth( $cols ){
	width: $cols * ($columnWidth + $gutterWidth);
}

@mixin block( $cols ){
	display: block;
	@include innerWidth( $cols );
	margin: $halfGutter;
	padding: 0;
	box-shadow: 0 4px 0 $shadowColor;
}



/*
	Colours
*/
$bodyBgColor: #0a3616;
$bodyFgColor: #1ee857;

$accentBgColor: #521500;
$accentFgColor: #ff6833;

$shadowColor: #051b0b;

/*
	Common decorations
*/

@mixin blockBorder( $colour ){
	border: 3px double $colour;
}


/*
	Basic body styles
*/
body {
	color: $bodyFgColor;
	font-family: monospace;
	background: $bodyBgColor url('circuit.gif') repeat;
}

a:link {
	color: $accentFgColor;
}




/*
	Page header
*/
header {
	display: block;
	@include outerWidth( $columnCount );
	max-width: $maxContentWidth;
	margin: 0 auto;
	
	hgroup {
		@include block( $columnCount );
		
		h1{
			@include blockBorder( $bodyFgColor );
			background-color: $bodyBgColor;	
			font-size: 1em;
			margin: 0;
			padding: 0.5em;
			text-align: center;
		}	
	}
	
	nav {
		display: block;
		margin: 0;
		padding: 0;
		
		ul {
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			li {
				@include block( 8 );
				float: left;
				
				a {
					display: block;
					margin: 0;
					padding: 0.5em;
					@include blockBorder( $accentFgColor );
					background-color: $accentBgColor;
					text-align: center;
				}	
			}
		}
	}
	
}









//=========================================

/**
	CSS animation experiment
*/
@-webkit-keyframes zoom {
	from {
		background-position: 0px 0px, 0px 0px;
	}
	
	to {
		background-position: -40px 40px, 80px 40px;
	}	
}

div {
	margin: 1em auto;
	width: 300px;
	height: 100px;
	border: 1px solid #000;
	background-image: url('bg2.png'), url('bg1.png');
	background-repeat: repeat;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: linear;
}

#zoom:hover {
	-webkit-animation-name: zoom;
}

