{% from '@nav-menu' import navMenu %}
{% macro pageHeader(title, navLinks, currentUrl, homeUrl) %}
<div class="cy-page-header">
  <header>
    <a class="cy-page-header__logo" {% if currentUrl != homeUrl %} href="{{ homeUrl }}"{% endif %}>
      {% include '@inline-logo' %}
    </a>
    <h1>{{ title }}</h1>
  </header>
  {{ navMenu(navLinks, currentUrl) | safe }}
</div>
{% endmacro %}

{# Sample #}
{{ pageHeader(title, navLinks, currentUrl, homeUrl) | safe }}
