@use './typography';

$_multiplier: 2;

// Medium is the "base" size from which all others
// are calculated:
$md: typography.$line-height-base;

$sm: $md / $_multiplier;
$xs: $sm / $_multiplier;

$lg: $md * $_multiplier;
$xl: $lg * $_multiplier;
