@use 'sass:math';
@use './typography';

$_multiplier: 2;

// Medium is the "base" size from which all others
// are calculated:
$md: typography.$line-height-base;

$xs: $md * math.pow($_multiplier, -2);
$sm: $md * math.pow($_multiplier, -1);

$lg: $md * math.pow($_multiplier, 1);
$xl: $lg * math.pow($_multiplier, 2);
