$cy-sp-multiplier: 2;

// Medium is the "base" size from which all others
// are calculated:
$cy-sp-md: 1rem;

$cy-sp-sm: $cy-sp-md / $cy-sp-multiplier;
$cy-sp-xs: $cy-sp-sm / $cy-sp-multiplier;

$cy-sp-lg: $cy-sp-md * $cy-sp-multiplier;
$cy-sp-xl: $cy-sp-lg * $cy-sp-multiplier;
