@use '../01-settings/color';
@use '../01-settings/spacing';
@use '../01-settings/typography';
@use '../02-tools/containers';

body {
  $content-width: 50rem;

  background: color.$bg url('../img/circuit.gif');
  color: color.$fg;
  font-family: typography.$font-family;
  image-rendering: crisp-edges;
  line-height: typography.$line-height-base;
  padding: spacing.$sm;

  // > header,
  main,
  > footer {
    @include containers.thin();

    background-color: color.$bg-translucent;
  }
}
