// Shared stuff from www-ui
@use 'shared' as cyberfinity;


.preview-body {
  background-color: cyberfinity.$co-bg;
  padding: cyberfinity.$line-height-base;
}

.preview-body--vertical-rythmn {
  /*
    Create horizontal bands to visualise the line-height.

    Each band (light or dark grey) is 1x line-height. Within that
    we also want to visualise the baseline by overlaying an accent
    color from the bottom of the band up to the baseline.
  */

  // How far away from top of line-height the baseline is, expressed
  // as a fraction
  $baseline-top-offset: (cyberfinity.$line-height-base - cyberfinity.accent-font-baseline-from-bottom()) / cyberfinity.$line-height-base;

  background-image: linear-gradient(
    cyberfinity.$co-green-0,
    cyberfinity.$co-green-0 ($baseline-top-offset * 100%),
    cyberfinity.$co-green-2 ($baseline-top-offset * 100%),
    cyberfinity.$co-green-2
  );
  background-repeat: repeat-y;
  background-size: 100% cyberfinity.$line-height-base;
}

.preview-body--checkerboard {
  background-blend-mode: soft-light, normal;
  background-image: url('./assets/checkerboard.png'), url('./assets/checkerboard.png');
  background-repeat: repeat, repeat;
  background-size:
    cyberfinity.$line-height-base cyberfinity.$line-height-base,
    (2 * cyberfinity.$line-height-base) (2 * cyberfinity.$line-height-base);
}
