// Shared stuff from www-ui
@import 'shared';

$pr-co-grey: #777;
$pr-co-grey-light: #555;
$pr-co-grey-dark: #999;

$pr-co-accent: #f00;

.preview-body {
  background-color: $pr-co-grey;
  padding: $cy-line-height-base;
}

.preview-body--vertical-rythmn {
  /*
    Create horizontal bands to visualise the line-height.

    Each band (light or dark grey) is 1x line-height. Within that
    we also want to visualise the baseline by overlaying an accent
    color from the bottom of the band up to the baseline.
  */

  // How far away from top of line-height the baseline is, expressed
  // as a fraction
  $baseline-top-offset: ($cy-line-height-base - cy-accent-font-baseline-from-bottom()) / $cy-line-height-base;

  background-image: linear-gradient(
    $pr-co-grey-dark,
    $pr-co-grey-dark ($baseline-top-offset * 50%),
    mix($pr-co-grey-dark, $pr-co-accent, 80%) ($baseline-top-offset * 50%),
    mix($pr-co-grey-dark, $pr-co-accent, 80%) 50%,
    $pr-co-grey-light 50%,
    $pr-co-grey-light (50% + $baseline-top-offset * 50%),
    mix($pr-co-grey-light, $pr-co-accent, 80%) (50% + $baseline-top-offset * 50%),
    mix($pr-co-grey-light, $pr-co-accent, 80%)
  );
  background-repeat: repeat-y;
  background-size: 100% (2 * $cy-line-height-base);
}

.preview-body--checkerboard {
  background-image: url('./assets/checkerboard.png');
  background-repeat: repeat;
  background-size: (2 * $cy-line-height-base) (2 * $cy-line-height-base);
}
