@use '../01-settings/color';
@use '../01-settings/spacing';
@use './util';

@mixin thin($includePadding: true) {
  $border-image-slide-px: 7px;
  $border-image-slice: util.px-to-unitless($border-image-slide-px);
  $border-image-width: util.px-to-rem($border-image-slide-px);
  $fallback-border-width: util.px-to-rem(3px);

  border: $fallback-border-width double color.$fg;
  border-image-slice: $border-image-slice;
  border-image-source: url('../img/border-1.png');
  border-image-width: $border-image-width;

  @if $includePadding {
    padding: (spacing.$sm - $fallback-border-width);
  }
}
