@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Quicksand:300,400);
body {
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 12px;
  color: #523d48; }

.bodySection, main {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0; }



p, ul, ol {
  margin: 0 0 1em 0;
  padding: 0; }

li {
  margin: 0 0 0.5em 2em;
  padding: 0; }

a:link {
  color: #1d97ff; }

a:visited {
  color: #a555ff; }

a:hover, a:active {
  color: #523d48;
  background-color: #d3ffa4; }

header {
  font-family: "Quicksand", "Arial", sans-serif;
  text-align: center; }
  header p {
    font-size: 14px;
    margin-bottom: 0.5em; }
  header h1 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 0.3em 0;
    padding: 180px 0 0 0;
    background: url("cyberfinity_logo.png") no-repeat 50% 0; }

footer {
  margin-top: 20px;
  font-size: 10px;
  text-align: center; }

.tmp {
  text-align: center; }
  .tmp li {
    list-style-type: none;
    margin-left: 0; }
    .tmp li a {
      display: block;
      padding: 3px; }
      
 
table {
	width: 100%;
	border-collapse: collapse;
}
   
tr {
	background-color: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

thead tr:nth-child(odd), tbody tr:nth-child(even) {
	background: none;
}

td, th {
	padding: 0.4em;
}

td:nth-child(2) {
	text-align: center;
}
